@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600");

$family: "Open Sans", sans-serif;
$text: #616161;
$text-light: rgba($text, 0.4);
$regular-size: 1.6rem;
$small-size: 1.2rem;
$bold: 600;
$done: #77ae38;
$progress: #438fee;
$bg-grey: #f3f3f3;
$clear: #ffffff;
$mapTag: linear-gradient(90deg, #442657 0%, #442657 100%);
